body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    height: 100vh;
    width: 30vw;
    max-width: 30vw;
    min-width: 380px;
    margin: 0 auto;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden; /*There shouldnt be any of this*/
    scrollbar-width: none; /*for Firefox*/
}

/*for chrome*/
#container::-webkit-scrollbar{
    display: none;
}


#nav { /*todo: this is broken*/
    width: inherit;
    min-width: inherit;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray; 
    text-align: center;
    
}

#nav h3{
    font-size: 3vh;
}

#post-container{
    margin-top: 10vh;
    width: 100%;
}
.post{
    width: 100%;
}

.user, .likebar, .caption {
    padding: 2vw;
} 

.user { /*todo: set mins for these dimension*/
    max-height: 50px;
}

.pfp{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}

.imageCont{
    background-color: gray;
    height: auto;
    width: 100%;
}

.post-image {
    width: 100%;
}

.likebar {
    height: 5vh;
}

.likebar img{
    max-height: 100%;

}

.likebar img:hover{
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    /* CSS for screens that are 420 pixels or less will be put in this section */
    #container {
        width: 100vw;
        height: 100vh;
    }
}