body{
    background-color: black;
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    width: 30vw;
    min-width: 380px;
    margin: 0 auto;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden; /*There shouldnt be any of this*/
    scrollbar-width: none;
}

/*for chrome*/
#container::-webkit-scrollbar{
    display: none;
}

#nav{
    width: inherit;
    min-width: inherit;
    max-height: 10vh;
    height: 10vh;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray; 
}

#nav h3{
    margin-left: 2px;
    font-size: 3vh;
}

#post-container{
    margin-top: 10vh;
}
.post{
    width: inherit;
}

.user { /*todo: set mins for these dimension*/
    height: 8vh;
}

.image{
    height: 30vw;
    background-color: gray;
}

.like {
    height: 6vh;
}
.caption {
    height: 13vh;
}